.userRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoZone {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  /* width: calc(100% - 100px); */
  flex: 1;
}

.infoZone > * {
  margin-right: 10px;
}

.actionZone { 
  width: 100px;
}